<div id="container" class="row">
  
  <h2>Mensajes enviados</h2>
  <button class="btn btn-primary" (click)="actualizarMensajes()">Actualizar</button>

  <div id="checkbutton" class="form-check">
    <input #actualizarCheckBox type="checkbox" class="form-check-input" (change)="onActualizar()">
    <label class="form-check-label" for="exampleCheck1">Actualizar automáticamente</label>
  </div>

  <div id="loading" [ngClass]="!actualizando ?  'hidden' : ''">
    <img height="20px" src="assets/loading.gif">
  </div>

  <table class="table" *ngIf="mensajesEnviados && mensajesEnviados.length > 0" >
    <thead>
      <tr>
        <th scope="col">#</th>        
        <th scope="col">Destino</th>
        <th scope="col">Texto</th>
        <th scope="col">Fecha</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mensaje of mensajesEnviados" id="{{mensaje.id}}">
        <th scope="row">{{mensaje.id}}</th>
        <td>{{mensaje.usuario_destino}}</td>
        <td>{{mensaje.texto}}</td>
        <td>{{mensaje.fecha}}</td>
        <td>
          <a [routerLink]="" (click)="onEliminarMensaje(mensaje)" >
            <img height="20px" src="assets/icon-eliminar.png">
          </a>
        </td>
        <td>
          <span [ngClass]="(mensaje.id === eliminado) ?  '' : 'hidden'">
            <img height="20px" src="assets/loading.gif">
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
