<div id="container" *ngIf="gestores" class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gestor of gestores" id="{{gestor.id}}" [ngClass]="(gestor.id === nuevo) ? 'nuevo' : ''">
        <th scope="row">{{gestor.id}}</th>
        <td>{{gestor.usuario}}</td>
        <td>{{gestor.correo}}</td>
      </tr>
    </tbody>
  </table>
</div>