<div id="container" *ngIf="gestores && gestores.length > 0" class="row">
  <h2>Gestores</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Correo</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let gestor of gestores" id="{{gestor.id}}" [ngClass]="(gestor.id === nuevo) ? 'nuevo' : ''">
        <th scope="row">{{gestor.id}}</th>
        <td>{{gestor.usuario}}</td>
        <td>{{gestor.correo}}</td>
        <td>
          <a [routerLink]="" (click)="onEliminarGestor(gestor)" >
            <img height="20px" src="assets/icon-eliminar.png">
          </a>
        </td>
        <td>
          <span [ngClass]="(gestor.id === eliminado) ?  '' : 'hidden'">
            <img height="20px" src="assets/loading.gif">
          </span>
        </td>       
      </tr>
    </tbody>
  </table>
</div>