<div id="container" class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>gestor1</td>
        <td>gestor1</td>
        <td>gestor1@mail.com</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>gestor2</td>
        <td>gestor2</td>
        <td>gestor2@mail.com</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>gestor3</td>
        <td>gestor3</td>
        <td>gestor3@mail.com</td>
      </tr>
    </tbody>
  </table>
</div>

  <!-- <div class="row">
    <div class="col-xs-10">
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let b of [{a: 2}]"
        >
          {{ b.a }} ({{ b.a }})
        </a>
      </ul>
    </div>
  </div>-->