button {
  height: 40px;
}

#buttonUpdate {
  margin-left: 1.2em;
  height: 40px;
}

#container {
  margin: 1em;
}

#checkbutton {
  margin-left: 20px;
  margin-top: 8px;
}

#loading {
  margin-left: 20px;
  margin-top: 0.4em;
}

.btn-success:focus, 
.btn-success.active { 
  background-color: #28a745; 
  box-shadow: none;
} 

.btn-primary:focus, 
.btn-primary.active { 
  background-color: #007bff; 
  box-shadow: none;
} 

.hidden {
  display: none;
}
